{% extends "layouts/base.html" %}

{% block title %} Tables {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

  <div class="content">
    <div class="row">
      <div class="col-md-12">
        <div class="card ">
          <div class="card-header">
            <h4 class="card-title"> Simple Light Control</h4>
          </div>
            <div class="card-body">
                <a href="/hue_light_on/24">
                  <button class="btn btn-fill btn-primary" type="submit">
                    <i class="tim-icons icon-bulb-63"></i><br />Light
                  </button>
              </a>
            </div>
            <div class="table-responsive">
<table class="table tablesorter " id="">
  <thead class=" text-primary">
    <tr>
      <th hidden>id_</th>
      <th>name</th>
      <th>is_on</th>
      <th>toggle</th>
      <!-- <th>bri</th>
      <th>hue</th>
      <th>sat</th> -->
    </tr>
  </thead>
  <tbody>
    {% for light in lights %}
      <tr>
          <td hidden>{{light.id_}}</td>
          <td>{{light.name}}</td>
          <td>{{light.is_on}}</td>
          <!-- <td>
            <label> -->
                {% if light.is_on %}
                <!-- <td>Y</td> -->
                <td><input onchange="window.open('/lights/24', '_self')" type="checkbox" class="l" checked></td>
                {% else %}
                <!-- <td>N</td> -->
                  <td><input type="checkbox" class="l"></td>
                {% endif %}
                <!-- <span></span>
            </label>
          </td> -->
          <!-- <td>{{light.bri}}</td>
          <td>{{light.hue}}</td>
          <td>{{light.sat}}</td> -->
      </tr>
    {% endfor %}
  </tbody>
</table>
            </div>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}

<!-- <script> 
  $('#form').on('submit', function(e){ 
    // var number = $('#num').val(); 
    e.preventDefault(); 
    $.ajax({ 
      url: '/hue_light_on', 
      // data: {'number': number}, 
      method: 'POST', 
      success: function(data) { 
        // $('#num').val(''); 
        $('#square').html('Square of is ' + data['square']) 
      } 
    }); 
  }); 
</script>  -->
{% block javascripts %}{% endblock javascripts %}
